/***** Default Theme Start *****/

[data-color="default"] .header,
[data-color="default"] .btn-success:hover,
[data-color="default"] .leftSlider .userBox,
[data-color="default"] .clearAll:hover {
  background: #008975!important;
}

[data-color="default"] .loginLogo,
[data-color="default"] .mat-select-content .mat-option,
[data-color="default"] .leftSlider .slideToggle,
[data-color="default"] .bookButt,
[data-color="default"] .bookButt a,
[data-color="default"] .gameSore li .scorePoint,
[data-color="default"] .gameTab li a:hover,
[data-color="default"] .gameTab li a:active,
[data-color="default"] .agent:before,
[data-color="default"] .gameTab li.search li a:hover,
[data-color="default"] .gameTab li.search li a.active,
[data-color="default"] .gameTab li a:hover,
[data-color="default"] .gameTab li a.active,
[data-color="default"] .gameTab li a.active,
{
  color: #008975!important;
}

[data-color="default"] .btn-success:hover {
  border-color: #008975!important;
}


/* ----------------------------------------------------------------------------------------------------- */

[data-color="default"] .gameTab li.active,
[data-color="default"] .liveBetsArea li.active,
[data-color="default"] .mat-tab-label-active,
[data-color="default"] .openBook,
[data-color="default"] .btn-primary,
[data-color="default"] .modal-content .header {
  background: #02aa8d!important;
}

[data-color="default"] .errorMessage,
[data-color="default"] .yetTxt,
[data-color="default"] .runTxt,
[data-color="default"] .user:before,
[data-color="default"] .totalAmount,
[data-color="default"] .frReport h3,
[data-color="default"] .cal-day-number {
  color: #02aa8d!important;
}

[data-color="default"] .gameMainTab {
  border-color: #02aa8d!important;
}


/* ----------------------------------------------------------------------------------------------------- */

[data-color="default"] .page-link {
  color: #007f6d!important;
}

[data-color="default"] .slimMenu button,
[data-color="default"] .topNav li,
[data-color="default"] .topMenu li {
  border: solid 1px #007f6d!important;
}


/***** Grey Theme Start *****/

body[data-color="grey"] .btn-warning.btn-fill:hover,
body[data-color="grey"] .navbar-nav li.lightBg {
  background: #008975!important;
}

//Edit By biswa
.mobileView {
  .tornLight {
    display: none;
  }
  .gameBoxBottomMargin {
    padding-bottom: 220px;
    .tornLight {
      position: absolute;
      display: block;
      min-height: 100px;
      background: rgba(0, 0, 0, 0.7);
      width: 100%; // height: 100%;
      z-index: 11;
      left: 0;
      bottom: 0;
    }
  }
  .mobActiveRow {
    .tornLightActive {
      position: relative;
      z-index: 12;
      border: 1px crimson;
      border-radius: 2px;
      background: #fff;
      height: 47px;
      padding-top: 4px;
      padding-right: 1px;
      box-shadow: 0px 4px 5px #000;
    }
  }
}

.none {
  display: none
}

