<div class="modal-content gameBg">
  <div class="header">
    <h4 class="none" *ngIf="parentGame.game_id" [innerHTML]="newMatchOptions(parentGame.game_id)"></h4>
    <button type="button" matTooltip="Close Game" class="close pull-right" (click)="closeGmae()">
      <mat-icon>close</mat-icon>
    </button>
    <!-- <button *ngIf="userType == 3" type="button" matTooltip="Add Fancy" class="close pull-right" (click)="addFancy(addFancyTemplate)">
      <i class="material-icons">add</i>
    </button> -->
    <h4 class="gameIcon{{parentGame.game_type}}">{{parentGame.game_name}}</h4>
  </div>
  <div class="modal-body gameBox">
    <!-- <app-livescore-admin [eventTypeId]="parentGame.event_id"></app-livescore-admin> -->
    <div *ngIf="libraryService.getTv() === parentGame.game_id" style="text-align:center">
      <iframe *ngIf="parentGame.game_type == 1" style="height: 245px; width: 334px;" frameborder="0" scrolling="no" [src]="tvUrl"></iframe>
      <iframe *ngIf="parentGame.game_type != 1" style="height: 192px; width: 334px;" frameborder="0" scrolling="no" [src]="tvUrl"></iframe>
    </div>
    <div class="row">
      <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 gameBox">
        <button class="leftArrow" color="primary" [disabled]="leftNavDisabled" (click)="moveLeft()">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <button class="rightArrow" color="primary" [disabled]="rightNavDisabled" (click)="moveRight()">
          <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <div class="gameMainTab">
          <div drag-scroll drag-scroll-y-disabled="true" scrollbar-hidden="true" (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)"
            #gameTab>
            <div style="display:inline-block" *ngFor="let itom of normalGames; let i = index;" (click)="openTabs(itom.game_id,itom.market_id)"
              class="{{toggle[itom.game_id] ? 'active' : 'deactive'}}">{{itom.market_name}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let item of normalGames; let i = index;" class="{{toggle[item.game_id] ? 'active' : 'deactive'}}">
      <div class="row matchHeader">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h5>{{item.market_name}}</h5>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 matchTimer">
          <i class="material-icons">timer</i>
          <span id="odds_timer_{{item.game_id}}"></span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <ul class="text-right oddIcons">
            <li *ngIf="item.game_type == 4" class="favGame active">
              <h4 *ngIf="libraryService.getVoice() === item.game_id" class="none" [innerHTML]="libraryService.commentaryVoice(libraryService.getCommentryTotalVal(item.market_id))"></h4>
              <span *ngIf="libraryService.getCommentryTotalVal(item.market_id)" class="commentaryText" [innerHTML]="libraryService.getCommentryTotalVal(item.market_id)"></span>
            </li>
            <li *ngIf="item.game_type != 7" matTooltip="Tv On" (click)="libraryService.setTv(item.game_id)" class="favGame active">
              <i class="material-icons">{{libraryService.getTv() === item.game_id ? 'videocam' : 'videocam_off'}}</i>
            </li>
            <!-- <li *ngIf="item.game_type == 4" matTooltip="Voice On" (click)="libraryService.setVoice(item.game_id)" class="favGame active">
              <i class="material-icons">{{libraryService.getVoice() === item.game_id ? 'volume_up' : 'volume_off'}}</i>
            </li> -->
            <!-- <li *ngIf="item.bopt_main == 0" (click)="addFancy(editFancyTemplate); editFancyDetails=item" matTooltip="Edit Fancy">
              <i class="material-icons">edit</i>
            </li> -->
            <!-- <li (click)="openBoard(item)">Board</li> -->
            <li (click)="openTabs(item.game_id,item.market_id)" matTooltip="Close">
              <i class="material-icons">close</i>
            </li>
          </ul>
        </div>
      </div>
      <h4 class="none" [innerHTML]="checkGameStatus(item.game_id,item.market_id)"></h4>
      <admin-socket [gameDetails]="item"></admin-socket>
    </div>
    <div *ngFor="let item of otherGamesFancy; let i = index;" class="{{toggle[item.game_id] ? 'active' : 'deactive'}}">
      <div class="row" *ngIf="i == 0">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-8 col-md-offset-8 col-sm-offset-8">
              <span class="yesTitle">No</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-right-8 col-md-offset-right-8 col-sm-offset-right-8">
              <span class="yesTitle">Yes</span>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-right-8 col-md-offset-right-8 col-sm-offset-right-8">
              <button *ngIf="item.bopt_main == 0" type="button" matTooltip="Edit Fancy" class="close pull-right" (click)="addFancy(editFancyTemplate); editFancyDetails=item">
                <i class="material-icons">edit</i>
              </button>
            </div>
          </div>
        </div> -->
      </div>
      <h4 class="none" [innerHTML]="checkGameStatus(item.game_id,item.market_id)"></h4>
      <admin-linesocket [gameDetails]="item"></admin-linesocket>
    </div>

    <!-- Admin Fancy Template -->
    <ng-template #addFancyTemplate>
      <div class="header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <mat-icon aria-hidden="true">close</mat-icon>
        </button>
        <h4>{{ 'Add Fancy' | translate }}</h4>
      </div>
      <div class="modal-body optionSection">
        <admin-fancy [currentGameId]="currentGameId"></admin-fancy>
      </div>
    </ng-template>

    <!-- Edit Fancy Template -->
    <ng-template #editFancyTemplate>
      <div class="header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <mat-icon aria-hidden="true">close</mat-icon>
        </button>
        <h4>{{ 'Edit Fancy' | translate }}</h4>
      </div>
      <div class="modal-body optionSection">
        <admin-editFancy [currentGame]="editFancyDetails"></admin-editFancy>
      </div>
    </ng-template>

  </div>
</div>