<mat-sidenav-container [attr.data-color]="theme" class="home-container {{deviceInfo}}">
  <mat-sidenav #sidenav class="home-sidenav leftSlider">
    <div class="row userBox">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 photo">
        <img src="../../assets/images/user-logo.png" />
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 blns">
        <ul class="nav">
          <li>{{ 'Name:' | translate }}
            <span class="digitAlign name">{{currentUser}}</span>
          </li>
          <li>{{ 'Balance:' | translate }}
            <span class="digitAlign">{{balance}}</span>
          </li>
          <li>{{ 'Exposure:' | translate }}
            <span class="digitAlign">{{exposure}}</span>
          </li>
        </ul>
      </div>
    </div>
    <mat-slide-toggle [(ngModel)]="inPlay" class="slideToggle">{{ 'In Play' | translate }}</mat-slide-toggle>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="{{ 'Search Game...' | translate }}" [(ngModel)]="searchGame">
    </mat-form-field>
    <accordion [closeOthers]="!oneAtATime">
      <div class="loadingBg" *ngIf="gameStatus">
        <div class="loaderInner">
          <img src="./assets/images/homeLoader.gif" />
        </div>
      </div>

      <accordion-group [isOpen]="searchGame" *ngFor="let itomLabOne of allGames; trackBy:idToTrackCategoriesWith; let i = index"
        heading="{{itomLabOne.cat_name}} ({{(itomLabOne.data).length}})">
        <ul>
          <li href="#" *ngFor="let itomLabTwo of itomLabOne.data  | filterBy: { game_name: searchGame } | inPlayfilter: 'game_inplay' : inPlay; trackBy:idToTrackGamesWith">
            <a (click)="onClickOpenGame(itomLabTwo);">{{itomLabTwo.game_name}}</a>
            <span class="bookButt pull-right" *ngIf="itomLabTwo.book.length !=0">
              <button matTooltip="Books" mat-icon-button [matMenuTriggerFor]="bookMenu">
                <mat-icon>book</mat-icon>
              </button>
              <mat-menu #bookMenu="matMenu">
                <button mat-menu-item *ngFor="let item of itomLabTwo.book;">
                  <span>{{item.sel_name}} ({{item.pl}})</span>
                </button>
              </mat-menu>
            </span>
            <span *ngIf="itomLabTwo.game_inplay" class="inplayGame pull-right">{{ 'InPlay' | translate }}</span>
          </li>
        </ul>
      </accordion-group>
    </accordion>
  </mat-sidenav>
  <div class="home-content">
    <div class="row header">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
        <ul class="topNav admnLftMenu leftSmilMenu text-left">
          <li matTooltip="Open Games" (click)="getGamesNew();sidenav.open();">
            <i class="material-icons">reorder</i>
          </li>
          <li class="logo">{{ 'Games' | translate }}</li>
        </ul>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10">
        <ul class="topNav text-right">
          <li matTooltip="Change Password" (click)="openModal(template)">
            <i class="material-icons">settings</i>
          </li>
          <li matTooltip="Report" (click)="isCollapsedReport = !isCollapsedReport">
            <i class="material-icons">receipt</i>
          </li>
          <li matTooltip="Logout">
            <a href="/board">
              <i class="material-icons">power_settings_new</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contain-area">

        <!-- Admin Option Template -->
        <ng-template #template>
          <div class="header">
            <button matTooltip="Close" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <mat-icon aria-hidden="true">close</mat-icon>
            </button>
            <h4>{{ 'Change Password' | translate }}</h4>
          </div>
          <div class="modal-body optionSection">
            <admin-settings></admin-settings>
          </div>
        </ng-template>

        <!-- Report Template -->
        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsedReport" class="modal-content reportBg">
          <div class="header">
            <button matTooltip="Close" type="button" class="close pull-right" (click)="isCollapsedReport = !isCollapsedReport">
              <mat-icon>close</mat-icon>
            </button>
            <h4>{{ 'Report Panel' | translate }}</h4>
          </div>
          <div class="modal-body reportSection">
            <admin-report></admin-report>
          </div>
        </div>

        <!-- User Template -->
        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsedUser" class="modal-content userTreeBox">
          <div class="userSection {{mobileActive ? 'mobileActive' : ''}}">
            <div class="mat-sidenav-backdrop mat-sidenav-shown" (click)="isCollapsedUser = !isCollapsedUser"></div>
            <div class="userBody">
              <button type="button" class="close pull-right" (click)="isCollapsedUser = !isCollapsedUser">
                <mat-icon>close</mat-icon>
              </button>

              <div class="loadingBg" *ngIf="userStatus">
                <div class="loaderInner">
                  <img src="./assets/images/homeLoader.gif" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Games -->
        <div *ngFor="let key of objectKeys(gameIds)" class="gameContner">
          <admin-games [gameIds]="gameIds" [marketIds]="marketIds" [currentGameId]="key"></admin-games>
        </div>

        <!-- Home Games -->
        <div *ngIf="(gameIds | json) != '{}';else homeGames;"></div>

      </div>

    </div>

  </div>
</mat-sidenav-container>