<app-header></app-header>
<!--sidebar-menu-->
<div id="content">
    <app-nav></app-nav>

    <div class="row-fluid">
        <div class="sumary">
            <div class="span4">Market Cap:
                <span class="orng">$477,572,467,284 / 24h</span>
            </div>
            <div class="span4">Vol:
                <span class="orng">$23,140,472,876 / BTC</span>
            </div>
            <div class="span4">Dominance:
                <span class="orng">36.7%</span>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">


                <a href="coin-details.html">
                    <img src="assets/img/front-table.jpg">
                </a>



            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>