<div *ngIf="betOptions == 'oneclick' && onclickResult" class="expandBetBox">
  <div class="alert alert-success">
    <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    /> {{ 'Please wait while we are processing your bet...' | translate }}
  </div>
</div>

<div *ngIf="betOptions != 'oneclick'" class="expandBetBox">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <ul class="stakeBox">
        <li (click)="changeStake(quickStake1)">{{quickStake1}}</li>
        <li (click)="changeStake(quickStake2)">{{quickStake2}}</li>
        <li (click)="changeStake(quickStake3)">{{quickStake3}}</li>
        <li (click)="changeStake(quickStake4)">{{quickStake4}}</li>
        <li (click)="changeStake(quickStake5)">{{quickStake5}}</li>
        <li (click)="changeStake(quickStake6)">{{quickStake6}}</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h4 *ngIf="betDetails.type !== '-8' && betDetails.type !== '-9'" class="none" [innerHTML]="setTempProfitVal()"></h4>
      <form [formGroup]="betForm" (ngSubmit)=onSubmitBet(betForm.value) novalidate>
        <div class="row">
          <div *ngIf="betDetails.type == -9" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a>
              <i class="material-icons">indeterminate_check_box</i>
            </a>
            <input readonly="readonly" type="number" formControlName="oddsVal">
            <a>
              <i class="material-icons">add_box</i>
            </a>
          </div>
          <div *ngIf="betDetails.type != -9" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a (click)="decVal('odds')">
              <i class="material-icons">indeterminate_check_box</i>
            </a>
            <input type="number" formControlName="oddsVal">
            <a (click)="incVal('odds')">
              <i class="material-icons">add_box</i>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a (click)="decVal( 'stake')">
              <i class="material-icons">indeterminate_check_box</i>
            </a>
            <input type="number" formControlName="stakeVal">
            <a (click)="incVal('stake')">
              <i class="material-icons">add_box</i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a (click)="closeBet()" class="cancel">{{ 'Cancel' | translate }}</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button [disabled]="loading" class="place">{{ 'Place' | translate }}
              <img *ngIf="loading" class="loading" src="../../assets/images/loader.gif" />
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>