<div *ngIf="deviceInfo == 'destopView'" class="modal-content gameBg">
  <div class="loadingBg" *ngIf="gameLoader">
    <div class="loaderInner">
      <img src="./assets/images/homeLoader.gif" />
    </div>
  </div>
  <div class="header">
    <h4 class="none" *ngIf="parentGame.gameId" [innerHTML]="newMatchOptions(parentGame.gameId)"></h4>
    <h4 class="gameIcon{{parentGame.gameType}}">{{parentGame.gameName}}</h4>
    <button matTooltip="Close" type="button" class="close pull-right" (click)="closeGmae(parentGame.gameId)">
      <mat-icon>close</mat-icon>
    </button>
    <div class="pull-right gameTime">
      <div id="startTimer_{{parentGame.gameId}}"></div>
      {{libraryService.gameTimerCountDown(parentGame.startTime, parentGame.gameId)}}
    </div>
  </div>
  <div class="modal-body gameBox">
    <app-livescore [eventTypeId]="parentGame.eventId" [marketId]="parentGame.marketId"></app-livescore>
    <div class="row">
      <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 gameBox">
        <button class="leftArrow" color="primary" [disabled]="leftNavDisabled" (click)="moveLeft()">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <button class="rightArrow" color="primary" [disabled]="rightNavDisabled" (click)="moveRight()">
          <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <div class="gameMainTab">
          <div drag-scroll drag-scroll-y-disabled="true" scrollbar-hidden="true" (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)"
            #gameTab>
            <div style="display:inline-block" *ngFor="let item of normalGames; let i = index;" (click)="openTabs(item.gameId,item.marketId,item.lotusGroupId,item.gameType)"
              class="{{toggle[item.gameId] ? 'active' : 'deactive'}}">{{item.marketName}}</div>
            <!-- <div style="display:inline-block" *ngFor="let item of otherGamesFancy; let i = index;" (click)="openTabs(item.gameId,item.marketId)" class="{{toggle[item.gameId] ? 'active' : 'deactive'}}">{{item.marketName}}</div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Normal Games -->
    <div *ngFor="let item of normalGames; let i = index;" class="{{toggle[item.gameId] ? 'active' : 'deactive'}}">
      <div class="row matchHeader">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h5>{{item.marketName}}</h5>
        </div>
        <div *ngIf="item.gameType == -9" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        </div>
        <div *ngIf="item.gameType != -9" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 matchTimer">
          <i class="material-icons">timer</i>
          <span id="odds_timer_{{item.gameId}}"></span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <ul class="text-right oddIcons">
            <li *ngIf="item.gameType == 4" class="favGame active">
              <h4 *ngIf="libraryService.getVoice() === item.gameId" class="none" [innerHTML]="libraryService.commentaryVoice(libraryService.getCommentryTotalVal(item.marketId))"></h4>
              <span *ngIf="libraryService.getCommentryTotalVal(item.marketId)" class="commentaryText" [innerHTML]="libraryService.getCommentryTotalVal(item.marketId)"></span>
            </li>
            <!-- <li *ngIf="item.gameType == 4" matTooltip="Voice On" (click)="libraryService.setVoice(item.gameId)" class="favGame active">
              <i class="material-icons">{{libraryService.getVoice() === item.gameId ? 'volume_up' : 'volume_off'}}</i>
            </li> -->
            <li matTooltip="Favorite Game" (click)="favoriteTogel(item.gameId)" class="favGame active">
              <i class="material-icons">{{favoriteGames[item.gameId] ? 'star' : 'star_border'}}</i>
            </li>
            <li (click)="openTabs(item.gameId,item.marketId,item.lotusGroupId,item.gameType)" matTooltip="Close">
              <i class="material-icons">close</i>
            </li>
          </ul>
        </div>
      </div>
      <h4 class="none" [innerHTML]="checkGameStatus(item.gameId,item.marketId,item.lotusGroupId,item.gameType)"></h4>
      <app-socket [gameDetails]="item"></app-socket>
    </div>

    <!-- Fancy Games -->
    <div *ngFor="let item of otherGamesFancy; let i = index;" class="{{toggle[item.gameId] ? 'active' : 'deactive'}}">
      <div class="row" *ngIf="i == 0">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-md-offset-4 col-sm-offset-4">
              <span class="yesTitle">No</span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-md-offset-right-4 col-sm-offset-right-4">
              <span class="yesTitle">Yes</span>
            </div>
          </div>
        </div>
      </div>
      <h4 class="none" [innerHTML]="checkGameStatus(item.gameId,item.marketId,item.lotusGroupId,item.gameType)"></h4>
      <app-socketfancy [gameDetails]="item"></app-socketfancy>
    </div>

  </div>
</div>

<div *ngIf="deviceInfo == 'mobileView'" class="modal-content shortGameBg">
  <div class="loadingBg" *ngIf="gameLoader">
    <div class="loaderInner">
      <img src="./assets/images/homeLoader.gif" />
    </div>
  </div>
  <div class="header">
    <h4 class="none" *ngIf="parentGame.gameId" [innerHTML]="newMatchOptions(parentGame.gameId)"></h4>
    <button matTooltip="Close" type="button" class="close pull-right" (click)="closeGmae(parentGame.gameId)">
      <mat-icon>close</mat-icon>
    </button>
    <div class="pull-right gameTime">
      <div id="startTimer_{{parentGame.gameId}}"></div>
      {{libraryService.gameTimerCountDown(parentGame.startTime, parentGame.gameId)}}
    </div>
    <h4 class="gameIcon{{parentGame.gameType}}">{{parentGame.gameName}}</h4>
  </div>
  <div class="modal-body gameBox">
    <app-livescore [eventTypeId]="parentGame.eventId" [marketId]="parentGame.marketId"></app-livescore>

    <div *ngIf="libraryService.getTv() === parentGame.gameId" style="text-align:center">
      <iframe *ngIf="parentGame.gameType == 1" style="height: 245px; width: 334px;" frameborder="0" scrolling="no" [src]="tvUrl"></iframe>
      <iframe *ngIf="parentGame.gameType != 1" style="height: 192px; width: 334px;" frameborder="0" scrolling="no" [src]="tvUrl"></iframe>
    </div>

    <button class="leftArrow" color="primary" [disabled]="leftNavDisabled" (click)="moveLeft()">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <button class="rightArrow" color="primary" [disabled]="rightNavDisabled" (click)="moveRight()">
      <i class="material-icons">keyboard_arrow_right</i>
    </button>
    <div class="gameMainTab">
      <div drag-scroll drag-scroll-y-disabled="true" scrollbar-hidden="true" (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)"
        #gameTab>
        <div style="display:inline-block" *ngFor="let item of normalGames; let i = index;" (click)="openTabs(item.gameId,item.marketId,item.lotusGroupId,item.gameType)"
          class="{{(toggle[item.gameId]) ? 'active' : 'deactive'}}">{{item.marketName}}</div>
        <!-- <div style="display:inline-block" *ngFor="let item of otherGamesFancy; let i = index;" (click)="openTabs(item.gameId,item.gameType)"
            class="{{(toggle[item.gameId] || toggleOpend[item.gameId]) ? 'active' : 'deactive'}}">{{item.marketName}}</div> -->
      </div>
    </div>
    <div *ngFor="let item of normalGames; let i = index;" class="{{(toggle[item.gameId]) ? 'active' : 'deactive'}}">
      <h4 class="none" [innerHTML]="checkGameStatus(item.gameId,item.marketId,item.lotusGroupId,item.gameType)"></h4>
      <app-socket [gameDetails]="item"></app-socket>
    </div>

    <ul class="gameTab">
      <li (click)="openShortTabs('game')" class="{{tabToggle['game'] ? 'active' : 'deactive'}}">Fancy</li>
      <li (click)="openShortTabs('matched'); oddsDetail()" class="{{tabToggle['matched'] ? 'active' : 'deactive'}}">{{ 'Matched Bets' | translate }}</li>
    </ul>

    <div *ngIf="tabToggle['game']" class="{{tabToggle['game'] ? 'active' : 'deactive'}}">
      <div *ngFor="let item of otherGamesFancy; let i = index;" class="{{(toggle[item.gameId]) ? 'active' : 'deactive'}}">
        <div class="row" *ngIf="i == 0">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
          </div>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-3 col-xs-2 col-md-offset-6 col-xs-offset-8">
                <span class="yesTitle">No</span>
              </div>
              <div class="col-sm-3 col-xs-2">
                <span class="yesTitle">Yes</span>
              </div>
            </div>
          </div>
        </div>
        <h4 class="none" [innerHTML]="checkGameStatus(item.gameId,item.marketId,item.lotusGroupId,item.gameType)"></h4>
        <app-socketfancy [gameDetails]="item"></app-socketfancy>
      </div>
    </div>
    <div *ngIf="tabToggle['matched']" class="betBox {{tabToggle['matched'] ? 'active' : 'deactive'}}">
      <div *ngFor="let item of otherGamesFancy; let i = index;">
        <div *ngIf="oddsDetailObj[item.gameId]" class="slideBets">
          <app-slider [consolidate]="consolidate" [eventId]="item.eventId" [gameId]="item.gameId" [gSelid]="oddsDetailObj[item.gameId][0].gselid"
            [type]="'matched'"></app-slider>
        </div>
      </div>
    </div>
  </div>
</div>