<h4 class="none" [innerHTML]="getLiveScore()"></h4>

<!-- Score Box Start -->
<div *ngIf="lotusBoj && lotusBoj.battingTeam" class="runBoardBox">
  <!-- {{lotusBoj | json}} -->
  <div class="runboard" (click)="openScoreTab()">
    <div class="row">
      <div *ngIf="lotusBoj.battingTeam" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <span class="countryName">{{lotusBoj.battingTeam.name}}</span>
        <span class="countryScore">{{lotusBoj.battingTeam.score}}/{{lotusBoj.battingTeam.wickets}}</span>
        <span class="countryOver">{{lotusBoj.battingTeam.overs}}{{lotusBoj.battingTeam.balls || lotusBoj.battingTeam.balls == 0 ? '.' : ''}}{{lotusBoj.battingTeam.balls}}</span>
        <span *ngIf="lotusBoj.battingTeam.target" class="countryOver">(Target {{lotusBoj.battingTeam.target}} runs)</span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 arrowIcon">
        <i class="fa {{scoreTab ? 'fa-caret-down' : 'fa-caret-right'}}" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <!-- Mobile View Start -->
  <div *ngIf="deviceInfo == 'mobileView'" class=" {{scoreTab ? 'active' : 'deactive'}}">
    <div class="scoreTab">
      <ul class="gameTab">
        <li (click)="openTabs('ball')" class="{{tabToggle['ball'] ? 'active' : 'deactive'}}">Ball by Ball</li>
        <li (click)="openTabs('partnewship')" class="{{tabToggle['partnewship'] ? 'active' : 'deactive'}}">Partnership</li>
      </ul>
    </div>
    <!-- Ball By Ball Tab Content -->
    <div class="ball {{tabToggle['ball'] ? 'active' : 'deactive'}}">
      <div *ngIf="lotusBoj.currentOver" class="ballByball">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titleTxt">{{lotusBoj.currentOver.bowlerName}} to {{lotusBoj.currentOver.batsNames[0]}} {{lotusBoj.currentOver.batsNames[1]
            ? 'and' : ''}} {{lotusBoj.currentOver.batsNames[1]}}</div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="balls">
              <li *ngFor="let ball of lotusBoj.currentOver.balls">
                <span *ngIf="ball.value == 6" class="six">{{ball.value}}</span>
                <span *ngIf="ball.value == 4" class="boundries">{{ball.value}}</span>
                <span *ngIf="ball.value != 4 && ball.value != 6" class="singleRun">{{ball.value}}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>Ov{{lotusBoj.currentOver.overNumber}}: </span>
            <span>{{lotusBoj.currentOver.runs}} runs | </span>
            <span>{{lotusBoj.currentOver.score}}-{{lotusBoj.currentOver.wickets}} </span>
          </div>
        </div>
      </div>
      <div *ngIf="lotusBoj.lastOver" class="ballByball">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titleTxt">{{lotusBoj.lastOver.bowlerName}} to {{lotusBoj.lastOver.batsNames[0]}} {{lotusBoj.lastOver.batsNames[1] ? 'and'
            : ''}} {{lotusBoj.lastOver.batsNames[1]}}</div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="balls">
              <li *ngFor="let ball of lotusBoj.lastOver.balls">
                <span *ngIf="ball.value == 6" class="six">{{ball.value}}</span>
                <span *ngIf="ball.value == 4" class="boundries">{{ball.value}}</span>
                <span *ngIf="ball.value != 4 && ball.value != 6" class="singleRun">{{ball.value}}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>Ov{{lotusBoj.lastOver.overNumber}}: </span>
            <span>{{lotusBoj.lastOver.runs}} runs | </span>
            <span>{{lotusBoj.lastOver.score}}-{{lotusBoj.lastOver.wickets}} </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Partnership Tab Content -->
    <div class="partnership {{tabToggle['partnewship'] ? 'active' : 'deactive'}}">
      <div *ngIf="lotusBoj.battingTeam" class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 headerBox">
          <span>CRR</span>
          <span>&nbsp; {{lotusBoj.battingTeam.runRate}}</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 headerBox">
          <span>P’SHIP</span>
          <span>&nbsp; {{lotusBoj.battingTeam.partnerShipScore}} ({{lotusBoj.battingTeam.partnerShipBalls}})</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 headerBox">
          <span>RRR</span>
          <span>&nbsp; {{lotusBoj.battingTeam.requiredRunRate}}</span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 headerBox">
          <span>LAST WKT</span>
          <span *ngIf="lotusBoj.lastBatsmanOut">{{lotusBoj.lastBatsmanOut.name}} {{lotusBoj.lastBatsmanOut.batsManRuns}} ({{lotusBoj.lastBatsmanOut.balls}})</span>
        </div>
      </div>
      <div *ngIf="lotusBoj.batsmen" class="row" class="scoreTable">
        <table>
          <tbody>
            <tr class="row-highlight">
              <td>Batsmen</td>
              <td>R</td>
              <td>B</td>
              <td>4s</td>
              <td>6s</td>
              <td>SR</td>
            </tr>
            <tr *ngFor="let bman of lotusBoj.batsmen">
              <td>{{bman.name}} {{bman.isOnStrike == 1 ? '*' : ''}}</td>
              <td>{{bman.batsmanRuns}}</td>
              <td>{{bman.balls}}</td>
              <td>{{bman.fours}}</td>
              <td>{{bman.sixes}}</td>
              <td>{{bman.strikeRate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="lotusBoj.bowler" class="row" class="scoreTable">
        <table>
          <tbody>
            <tr class="row-highlight">
              <td>Bowler</td>
              <td>O</td>
              <td>M</td>
              <td>R</td>
              <td>W</td>
              <td>Eco</td>
            </tr>
            <tr>
              <td>{{lotusBoj.bowler.name}}</td>
              <td>{{lotusBoj.bowler.overs}}</td>
              <td>{{lotusBoj.bowler.maidens}}</td>
              <td>{{lotusBoj.bowler.bowlerRuns}}</td>
              <td>{{lotusBoj.bowler.wickets}}</td>
              <td>{{lotusBoj.bowler.economy}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Mobile View End -->

  <!-- Destop View Start -->
  <div *ngIf="deviceInfo != 'mobileView'" class=" {{scoreTab ? 'active' : 'deactive'}}">
    <!-- Ball By Ball Tab Content -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div *ngIf="lotusBoj.currentOver" class="ballByball">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titleTxt">{{lotusBoj.currentOver.bowlerName}} to {{lotusBoj.currentOver.batsNames[0]}} {{lotusBoj.currentOver.batsNames[1]
              ? 'and' : ''}} {{lotusBoj.currentOver.batsNames[1]}}</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <ul class="balls">
                <li *ngFor="let ball of lotusBoj.currentOver.balls">
                  <span *ngIf="ball.value == 6" class="six">{{ball.value}}</span>
                  <span *ngIf="ball.value == 4" class="boundries">{{ball.value}}</span>
                  <span *ngIf="ball.value != 4 && ball.value != 6" class="singleRun">{{ball.value}}</span>
                </li>
              </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <span>Ov{{lotusBoj.currentOver.overNumber}}: </span>
              <span>{{lotusBoj.currentOver.runs}} runs | </span>
              <span>{{lotusBoj.currentOver.score}}-{{lotusBoj.currentOver.wickets}} </span>
            </div>
          </div>
        </div>
        <div *ngIf="lotusBoj.lastOver" class="ballByball">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titleTxt">{{lotusBoj.lastOver.bowlerName}} to {{lotusBoj.lastOver.batsNames[0]}} {{lotusBoj.lastOver.batsNames[1] ? 'and'
              : ''}} {{lotusBoj.lastOver.batsNames[1]}}</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <ul class="balls">
                <li *ngFor="let ball of lotusBoj.lastOver.balls">
                  <span *ngIf="ball.value == 6" class="six">{{ball.value}}</span>
                  <span *ngIf="ball.value == 4" class="boundries">{{ball.value}}</span>
                  <span *ngIf="ball.value != 4 && ball.value != 6" class="singleRun">{{ball.value}}</span>
                </li>
              </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <span>Ov{{lotusBoj.lastOver.overNumber}}: </span>
              <span>{{lotusBoj.lastOver.runs}} runs | </span>
              <span>{{lotusBoj.lastOver.score}}-{{lotusBoj.lastOver.wickets}} </span>
            </div>
          </div>
        </div>

      </div>
      <!-- Partnership Tab Content -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 partnership">
        <div *ngIf="lotusBoj.battingTeam" class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 headerBox">
            <span>CRR</span>
            <span>&nbsp; {{lotusBoj.battingTeam.runRate}}</span>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 headerBox">
            <span>P’SHIP</span>
            <span>&nbsp; {{lotusBoj.battingTeam.partnerShipScore}} ({{lotusBoj.battingTeam.partnerShipBalls}})</span>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 headerBox">
            <span>RRR</span>
            <span>&nbsp; {{lotusBoj.battingTeam.requiredRunRate}}</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 headerBox">
            <span>LAST WKT</span>
            <span *ngIf="lotusBoj.lastBatsmanOut">{{lotusBoj.lastBatsmanOut.name}} {{lotusBoj.lastBatsmanOut.batsManRuns}} ({{lotusBoj.lastBatsmanOut.balls}})</span>
          </div>
        </div>
        <div *ngIf="lotusBoj.batsmen" class="row" class="scoreTable">
          <table>
            <tbody>
              <tr class="row-highlight">
                <td>Batsmen</td>
                <td>R</td>
                <td>B</td>
                <td>4s</td>
                <td>6s</td>
                <td>SR</td>
              </tr>
              <tr *ngFor="let bman of lotusBoj.batsmen">
                <td>{{bman.name}} {{bman.isOnStrike == 1 ? '*' : ''}}</td>
                <td>{{bman.batsmanRuns}}</td>
                <td>{{bman.balls}}</td>
                <td>{{bman.fours}}</td>
                <td>{{bman.sixes}}</td>
                <td>{{bman.strikeRate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="lotusBoj.bowler" class="row" class="scoreTable">
          <table>
            <tbody>
              <tr class="row-highlight">
                <td>Bowler</td>
                <td>O</td>
                <td>M</td>
                <td>R</td>
                <td>W</td>
                <td>Eco</td>
              </tr>
              <tr>
                <td>{{lotusBoj.bowler.name}}</td>
                <td>{{lotusBoj.bowler.overs}}</td>
                <td>{{lotusBoj.bowler.maidens}}</td>
                <td>{{lotusBoj.bowler.bowlerRuns}}</td>
                <td>{{lotusBoj.bowler.wickets}}</td>
                <td>{{lotusBoj.bowler.economy}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Destop View End -->


</div>
<!-- Score Box End -->

<!-- {{eventTypeId}} -->
<div *ngIf="inPlayService && lotusBoj == null">
  <!--eventTypeId=4, Cricket-->
  <table *ngIf="inPlayService.eventTypeId == 4" align="center" class="cricket">
    <tr>
      <td>
        <span class="countryName">{{inPlayService.score.home.name}}</span>
        <span *ngIf="inPlayService.score.home.inning1" class="{{inPlayService.score.home.highlight == 1 ? 'runTxt' : 'yetTxt'}}">{{inPlayService.score.home.inning1.runs}}/{{inPlayService.score.home.inning1.wickets}}
          <span class="smltxt">{{inPlayService.score.home.inning1.overs}}</span>
        </span>
      </td>
      <td>
        <span class="countryName">{{inPlayService.score.away.name}}</span>
        <span *ngIf="inPlayService.score.away.inning1" class="{{inPlayService.score.away.highlight == 1 ? 'runTxt' : 'yetTxt'}}">{{inPlayService.score.away.inning1.runs}}/{{inPlayService.score.away.inning1.wickets}}
          <span class="smltxt">{{inPlayService.score.away.inning1.overs}}</span>
        </span>
      </td>
    </tr>
  </table>
  <!--eventTypeId=1, Soccer-->
  <table *ngIf="inPlayService.eventTypeId == 1" align="center" class="soccer">
    <tr>
      <td>
        <span class="countryName">{{inPlayService.score.home.name}}</span>
        <span class="runTxt">{{inPlayService.score.home.score}}-{{inPlayService.score.away.score}}</span>
      </td>
      <td>
        <span class="countryName">{{inPlayService.score.away.name}}</span>
        <span *ngIf="inPlayService.matchStatus != 'Finished'" class="runTxt">({{inPlayService.timeElapsed}}') </span>
        <span *ngIf="inPlayService.matchStatus == 'Finished'" class="timeTxt">{{inPlayService.matchStatus}} </span>
        <span *ngIf="inPlayService.score.home.halfTimeScore" class="timeTxt">(HT {{inPlayService.score.home.halfTimeScore}}-{{inPlayService.score.away.halfTimeScore}})</span>
      </td>
    </tr>
  </table>
  <!--eventTypeId=2, Tennis-->
  <div class="row game1 game4" *ngIf="inPlayService.eventTypeId == 2">
    <div class="row tennisSco tennis">
      <div class="col-md-7 col-sm-7 col-xs-7 lftBack">
        <span class="countryName">
          <i class="material-icons {{inPlayService.score.home.isServing == 'true' ? 'running' : ''}}">fiber_manual_record</i>{{inPlayService.score.home.name}}
          <small *ngIf="inPlayService.score.home.isServing == 1">.</small>
        </span>
        <span class="countryName">
          <i class="material-icons {{inPlayService.score.away.isServing == 'true' ? 'running' : ''}}">fiber_manual_record</i>{{inPlayService.score.away.name}}
          <small *ngIf="inPlayService.score.away.isServing == 1">.</small>
        </span>
        <span class="dayTxt">Set {{inPlayService.currentSet}}
          <span class="brk">|</span> {{inPlayService.fullTimeElapsed.hour}}h{{inPlayService.fullTimeElapsed.min}}
        </span>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-5 rtBack">
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-9">
            <ul class="steps">
              <li *ngIf="inPlayService.score.home.gameSequence">
                <span class="stepGrn" *ngFor="let item of inPlayService.score.home.gameSequence; trackBy:trackByTennisScore">{{item}}</span>
                <span class="stepGrn" *ngIf="inPlayService.score.home.matchStatus != 'Finished'">{{inPlayService.score.home.games}}</span>
              </li>
              <li *ngIf="inPlayService.score.away.gameSequence">
                <span class="stepGrn" *ngFor="let item of inPlayService.score.away.gameSequence; trackBy:trackByTennisScore">{{item}}</span>
                <span class="stepGrn" *ngIf="inPlayService.score.away.matchStatus != 'Finished'">{{inPlayService.score.away.games}}</span>
              </li>
              <li *ngIf="inPlayService.score.home.gameSequence">
                <span class="stepSmltxt " *ngFor="let item of inPlayService.TennisSetSequence; trackBy:trackByTennisScore">{{item}}</span>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 points ">
            <span class="stepGrn ">{{inPlayService.score.home.score}}</span>
            <span class="stepGrn ">{{inPlayService.score.away.score}}</span>
            <span class="stepSmltxt ">points</span>
          </div>
        </div>
      </div>
    </div>
  </div>