<!-- <div *ngIf="libraryService.getLineGamesId(gameDetails.gameId)" class="row betBox lineGame"> -->
<div *ngIf="deviceInfo == 'destopView' && libraryService.getlotusStatus(gameDetails.marketId) == 'OPEN'" class="row betBox lineGame">
  <div class="col-lg-6 oddBets">
    <div *ngIf="gameDetails.gameType == -9" id="odds_status_{{gameDetails.marketId}}"></div>
    <div *ngIf="gameDetails.gameType == -8" id="odds_status_{{gameDetails.gameId}}"></div>
    <div class="row" *ngFor="let item of oddsDetail; let parentIndex = index;">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 teamName">
        <h4>{{item.gselname}}</h4>
        <h5 *ngIf="getProfit[item.gselid] !=0">
          <span class="{{getProfit[item.gselid] >= 0 ? 'positive' : 'negative' }}" [innerHTML]="getProfit[item.gselid]"></span>
        </h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 teamVal">
        <div>
          <div>
            <span matTooltip="Matched Bets" *ngIf="MBets(item.gselid) != 0" (click)="openTabs('matched')" class="black" [innerHTML]="MBets(item.gselid)"></span>
            <span class="openBook" matTooltip="Open Book" (click)="openModal(templateBook); gName=item.gselname; gId=gameDetails.gameId">Book</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">

        <div *ngIf="gameDetails.gameType == -9" class="row backBox">
          <div class="col-lg-4 col-md-4 col-sm-4 {{matchOdds['layPrices_'+parentIndex+'_'+i] ? 'backShadow' : ''}}" *ngFor="let i of oddBox">
            <a class="" (click)="openBets('layPrices_',parentIndex, i, item);">
              <span id="layPrices_{{gameDetails.lotusGroupId}}_{{gameDetails.marketId}}_{{i}}_price" class="betTitle"></span>
              <span id="layPrices_{{gameDetails.lotusGroupId}}_{{gameDetails.marketId}}_{{i}}_amount"></span>
            </a>
          </div>
        </div>

        <div *ngIf="gameDetails.gameType == -8" class="row backBox">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <a>
              <span class="betTitle"></span>
              <span></span>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <a>
              <span class="betTitle"></span>
              <span></span>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <a class="" (click)="openBets('backPrices_',parentIndex, '2', item);">
              <span id="backPrices_{{gameDetails.gameId}}_{{item.gselid_bf}}_2_price" class="betTitle"></span>
              <span id="backPrices_{{gameDetails.gameId}}_{{item.gselid_bf}}_2_amount"></span>
            </a>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-md-3 col-sm-3  col-xs-2">

        <div *ngIf="gameDetails.gameType == -9" class="row layBox">
          <div class="col-lg-4 col-md-4 col-sm-4 {{matchOdds['backPrices_'+parentIndex+'_'+i] ? 'layShadow' : ''}}" *ngFor="let i of oddBox">
            <a class="" (click)="openBets('backPrices_',parentIndex, i, item);">
              <span id="backPrices_{{gameDetails.lotusGroupId}}_{{gameDetails.marketId}}_{{i}}_price" class="betTitle"></span>
              <span id="backPrices_{{gameDetails.lotusGroupId}}_{{gameDetails.marketId}}_{{i}}_amount"></span>
            </a>
          </div>
        </div>

        <div *ngIf="gameDetails.gameType == -8" class="row layBox">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <a class="" (click)="openBets('backPrices_',parentIndex, '0', item);">
              <span id="layPrices_{{gameDetails.gameId}}_{{item.gselid_bf}}_0_price" class="betTitle"></span>
              <span id="layPrices_{{gameDetails.gameId}}_{{item.gselid_bf}}_0_amount"></span>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <a>
              <span class="betTitle"></span>
              <span></span>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <a>
              <span class="betTitle"></span>
              <span></span>
            </a>
          </div>
        </div>

      </div>
      <ng-template *ngFor="let i of oddBox" [ngIf]="currentBet == 'bet_' + parentIndex + i + item.gselid_bf" class="col-lg-12 col-md-12 col-sm-12">
        <app-bet class="{{betDetails.bType == 'backPrices_' ? 'backPricesBg' : 'layPricesBg' }}" (currentBet)="getCloseBet($event)"
          [betDetails]=betDetails></app-bet>
      </ng-template>
    </div>
  </div>
  <div class="col-lg-6 slideBets">
    <ng-container>
      <div *ngFor="let item of oddsDetail; let i = index;">
        <div class="betsBox">
          <app-slider [eventId]="gameDetails.eventId" [gameId]="gameDetails.gameId" [gSelid]="item.gselid" [type]="'matched'"></app-slider>
        </div>
        <div *ngIf="matchOddsSideBar[i]" class="matchOdds {{matchOddsSideBar[i] ? matchOddsSideBar[i].name : ''}}">
        </div>
      </div>
    </ng-container>
  </div>
</div>


<!-- <div *ngIf="libraryService.getLineGamesId(gameDetails.gameId)" class="betBox {{gameDetails.gameType == -8 ? 'lineGame' : ''}}"> -->
<div *ngIf="deviceInfo == 'mobileView' && libraryService.getlotusStatus(gameDetails.marketId) == 'OPEN'" class="betBox lineGame">
  <div class="active">
    <div class="oddBets">
      <div *ngIf="gameDetails.gameType == -9" id="odds_status_{{gameDetails.marketId}}"></div>
      <div *ngIf="gameDetails.gameType == -8" id="odds_status_{{gameDetails.gameId}}"></div>
      <div class="{{(homeService.getMobileTabActive() == item.gselid+'act_0' || homeService.getMobileTabActive() == item.gselid+'act_2') ? 'mobActiveRow' : '' }}"
        *ngFor="let item of oddsDetail; let parentIndex = index;">
        <div class="row tornLightActive">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 teamName">
            <h4>{{item.gselname}}</h4>
            <h5 *ngIf="getProfit[item.gselid] !=0">
              <span class="{{(getProfit[item.gselid] >=0) ? 'positive' : 'negative' }}" [innerHTML]="getProfit[item.gselid]"></span>
            </h5>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 teamVal">
            <div>
              <span matTooltip="Matched Bets" *ngIf="MBets(item.gselid) != 0" (click)="openTabs('matched')" class="black" [innerHTML]="MBets(item.gselid)"></span>
              <span class="openBook" matTooltip="Open Book" (click)="openModal(templateBook);  gName=item.gselname; gId=gameDetails.gameId">Book</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
            <div *ngIf="gameDetails.gameType == -9" class="row backBox {{(homeService.getMobileTabActive() == item.gselid+'act_2') ? '' : 'mobDeActive' }}"
              id="element_{{gameDetails.gameId}}_{{item.gselid}}">
              <div class="col-lg-4 col-md-4 col-sm-4 {{matchOdds['backPrices_'+parentIndex+'_'+'2'] ? 'backShadow' : ''}}">
                <a class="" (click)="openBets('layPrices_',parentIndex, '2', item);">
                  <span id="layPrices_{{gameDetails.lotusGroupId}}_{{gameDetails.marketId}}_2_price" class="betTitle"></span>
                  <span id="layPrices_{{gameDetails.lotusGroupId}}_{{gameDetails.marketId}}_2_amount"></span>
                </a>
              </div>
            </div>

            <div *ngIf="gameDetails.gameType == -8" class="row backBox {{(homeService.getMobileTabActive() == item.gselid+'act_2') ? '' : 'mobDeActive' }}"
              id="element_{{gameDetails.gameId}}_{{item.gselid}}">
              <div class="col-lg-4 col-md-4 col-sm-4 {{matchOdds['backPrices_'+parentIndex+'_'+'2'] ? 'layShadow' : ''}}">
                <a class="" (click)="openBets('backPrices_',parentIndex, '2', item);">
                  <span id="backPrices_{{gameDetails.gameId}}_{{item.gselid_bf}}_2_price" class="betTitle"></span>
                  <span id="backPrices_{{gameDetails.gameId}}_{{item.gselid_bf}}_2_amount"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3  col-xs-2">
            <div *ngIf="gameDetails.gameType == -9" class="row layBox {{(homeService.getMobileTabActive() == item.gselid+'act_0') ? '' : 'mobDeActive' }}"
              id="element_{{gameDetails.gameId}}_{{item.gselid}}">
              <div class="col-lg-4 col-md-4 col-sm-4 {{matchOdds['layPrices_'+parentIndex+'_'+'0'] ? 'layShadow' : ''}}">
                <a class="" (click)="openBets('backPrices_',parentIndex, '0', item);">
                  <span id="backPrices_{{gameDetails.lotusGroupId}}_{{gameDetails.marketId}}_0_price" class="betTitle"></span>
                  <span id="backPrices_{{gameDetails.lotusGroupId}}_{{gameDetails.marketId}}_0_amount"></span>
                </a>
              </div>
            </div>

            <div *ngIf="gameDetails.gameType == -8" class="row layBox {{(homeService.getMobileTabActive() == item.gselid+'act_0') ? '' : 'mobDeActive' }}"
              id="element_{{gameDetails.gameId}}_{{item.gselid}}">
              <div class="col-lg-4 col-md-4 col-sm-4 {{matchOdds['layPrices_'+parentIndex+'_'+'0'] ? 'backShadow' : ''}}">
                <a class="" (click)="openBets('layPrices_',parentIndex, '0', item);">
                  <span id="layPrices_{{gameDetails.gameId}}_{{item.gselid_bf}}_0_price" class="betTitle"></span>
                  <span id="layPrices_{{gameDetails.gameId}}_{{item.gselid_bf}}_0_amount"></span>
                </a>
              </div>
            </div>
          </div>
          <!-- <ng-template *ngFor="let i of oddBox" [ngIf]="currentBet == 'bet_' + parentIndex + i + item.gselid_bf" class="col-lg-12 col-md-12 col-sm-12">
                        <app-shortbet class="{{betDetails.bType == 'backPrices_' ? 'backPricesBg' : 'layPricesBg' }}" (currentBet)="getCloseBet($event)"
                            (currentBet)="getCloseBet($event)" [betDetails]=betDetails></app-shortbet>
                    </ng-template> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Option Template -->
<ng-template #templateBook>
  <div class="header">
    <button matTooltip="Close" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
    <h4>{{gName}}</h4>
  </div>
  <div class="modal-body optionSection">
    <app-book [gId]="gId"></app-book>
  </div>
</ng-template>