<div class="vrepeatContainer gameStopForm" *ngIf="resultVal">
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="success" class="alert alert-success">{{success}}</div>
  <form [formGroup]="passwordForm" novalidate>

    <div class="row">
      <div class="col-lg-12">
        <mat-form-field class="full-width">
          <mat-icon>person</mat-icon>
          <input matInput placeholder="{{ 'Run' | translate }}" formControlName="runName">
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field class="full-width">
          <mat-icon>lock open</mat-icon>
          <input type="password" matInput placeholder="{{ 'PassWord' | translate }}" formControlName="passWord">
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <button type="button" (click)=getResult(passwordForm.value,-1) [disabled]="!passwordForm.valid" class="btn btn-success full-width"
          mat-raised-button>{{ 'Suspend' | translate }}</button>
      </div>
      <div class="col-lg-4">
        <button type="button" (click)=getResult(passwordForm.value,0) [disabled]="!passwordForm.valid" class="btn btn-success full-width"
          mat-raised-button>{{ 'Submit' | translate }}</button>
      </div>
      <div class="col-lg-4">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
      </div>
    </div>
  </form>
</div>
<div class="vrepeatContainer" *ngIf="!resultVal">
  <style *ngIf="deveceDet == 'mobile'">
     ::-webkit-scrollbar {
      width: 15px;
    }

     ::-webkit-scrollbar-track {
      background-color: none;
    }

     ::-webkit-scrollbar-thumb {
      background-color: none;
    }

     ::-webkit-scrollbar-button {
      background-color: none;
    }

     ::-webkit-scrollbar-corner {
      background-color: none;
    }

    .rightScrollBar {
      height: 85vh;
      overflow-x: auto;
    }

  </style>
  <div class="keyBrdContainer">
    <div class="row">
      <div class="col-xs-6 col-md-6 col-sm-6 titleTxt">{{title}}</div>
      <div class="col-xs-6 col-md-6 col-sm-6 timer" id="odds_timer_id"></div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-md-5 col-sm-5">

        <div>
          <!-- <button class="leftArrow" color="primary" [disabled]="leftNavDisabled" (click)="moveLeft()">
            <i class="material-icons">keyboard_arrow_left</i>
          </button>
          <button class="rightArrow" color="primary" [disabled]="rightNavDisabled" (click)="moveRight()">
            <i class="material-icons">keyboard_arrow_right</i>
          </button> -->
          <div drag-scroll drag-scroll-y-disabled="true" scrollbar-hidden="true" (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)"
            #nav>
            <div style="display:inline-block" *ngFor="let item of itemsLeft; let i = index">
              <div class="slideBox">
                <span class="slideBoxText">{{item[0]}}</span>
                <span class="slideBoxText">{{item[1]}}</span>
              </div>
            </div>
          </div>
        </div>



      </div>

      <div class="col-xs-2 col-md-2 col-sm-2 centerSpes">
        <button [disabled]="stopAll" (click)="readonlyItom('subItom'); getFinalVal(mainVal)" class="centerScore">{{mainVal}}</button>
      </div>

      <div class="col-xs-5 col-md-5 col-sm-5">

        <div>
          <!-- <button class="leftArrow" color="primary" [disabled]="leftNavDisabled" (click)="moveLeft()">
                <i class="material-icons">keyboard_arrow_left</i>
              </button>
              <button class="rightArrow" color="primary" [disabled]="rightNavDisabled" (click)="moveRight()">
                <i class="material-icons">keyboard_arrow_right</i>
              </button> -->
          <div drag-scroll drag-scroll-y-disabled="true" scrollbar-hidden="true" (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)"
            #nav>
            <div style="display:inline-block" *ngFor="let item of itemsRight; let i = index">
              <div class="slideBox">
                <span class="slideBoxText">{{item[0]}}</span>
                <span class="slideBoxText">{{item[1]}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <ul class="eventKey">
        <li class="plusIcon"></li>
        <li>
          <input type="text" [disabled]="stopAll" [readonly]="readOnlyItom" (click)="selectSplitsOnly('Splite')" class="evntlButt {{splitValOnly == 'Splite' ? 'active' : ''  }}"
            value="Splite" />
        </li>
        <li *ngFor="let split of splits; let i = index;">
          <input type="text" [disabled]="stopAll" [readonly]="splitItom" (click)="selectSplits(split);" #spliteName (blur)="spliteValChange(spliteName.value,i);"
            class="evntlButt {{splitVal == split ? 'active' : ''  }}" [readonly]="!split" value="{{split}}" />
        </li>
        <li class="plusIcon" (click)="enableSplitsEdit()">{{enableEdit}}</li>
      </ul>
    </div>

    <div class="row">
      <ul class="eventKey">
        <li class="plusIcon">+</li>
        <li class="small">
          <input type="text" [disabled]="stopAll" [readonly]="readOnlyItom" (click)="selectEvens('Even')" class="evntlButt {{evensVal == 'Even' ? 'active' : ''  }}"
            value="Even" />
        </li>
        <li class="small">
          <input type="text" [disabled]="stopAll" [readonly]="readOnlyItom" (click)="selectEvens('EvenPlus')" class="evntlButt {{evensVal == 'EvenPlus' ? 'active' : ''  }}"
            value="Even+" />
        </li>
        <li *ngFor="let even of evens; let i = index;">
          <input type="text" [disabled]="stopAll" [readonly]="evenItom" (click)="selectEvens(even);" #evenName (blur)="evensValChange(evenName.value,i);"
            class="evntlButt {{evensVal == even ? 'active' : ''  }}" [readonly]="!even" value="{{even}}" />
        </li>
        <li class="plusIcon" (click)="enableEvensEdit()">{{enableEditEven}}</li>
      </ul>
    </div>

    <div class="row">
      <ul class="entryKey">
        <li *ngFor="let touch of touchs">
          <button [disabled]="stopAll" (click)="selectTouchs(touch.id);" class="entryButt {{touchsVal == touch.id ? 'active' : ''  }}">{{touch.val}}</button>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col-xs-5 col-md-5 col-sm-5">
        <button [disabled]="stopAll" (click)="readonlyItom('bItom')" class="blkButt">
          <span>B</span>
        </button>
        <div class="layButt">
          <div id="layButt_status_id"></div>

          <a>
            <!-- <span id="layPrices_{{boardDetails.gameId}}_{{itom.gselid_bf}}_0_price" class="betTitle"></span>
            <span id="layPrices_{{boardDetails.gameId}}_{{itom.gselid_bf}}_0_amount"></span> -->
          </a>


          <a class="pinkBg">
            <span id="price_lay_01"></span>
            <span class="betTitle" id="amount_lay_01"></span>

          </a>
          <a class="pinkBg">
            <span id="price_lay_00"></span>
            <span class="betTitle" id="amount_lay_00"></span>

          </a>
        </div>

      </div>
      <div class="col-xs-2 col-md-2 col-sm-2 centerButt">
        <button (click)="disabledAll()" class="redButt">
          <span>STOP</span>
        </button>
      </div>
      <div class="col-xs-5 col-md-5 col-sm-5 rightButt">


        <div class="backButt">
          <div id="backButt_status_id"></div>
          <a class="blueBg">
            <span id="price_back_00"></span>
            <span class="betTitle" id="amount_back_00"></span>

          </a>
          <a class="blueBg">
            <span id="price_back_01"></span>
            <span class="betTitle" id="amount_back_01"></span>
          </a>
        </div>
        <button [disabled]="stopAll" (click)="readonlyItom('sItom')" class="blkButt">
          <span>S</span>
        </button>
      </div>
    </div>

  </div>
</div>
