@media (min-width: 992px) {
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }
  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }
}

.slideBox {
  float: left;
  margin-top: -6px;
  padding: 2px;
  .slideBoxText {
    display: block;
    padding: 10px 0 9px 0;
    width: 47px;
    text-align: center;
    margin: 4px 1px;
    border: solid 1px #ccc;
  }
}

* {
  outline: none;
}


/*::-webkit-scrollbar {
     display: none; 
      width: 0em;
    height: 0em;
} 
::-webkit-scrollbar-track {
      background-color:none;    
} 
 
::-webkit-scrollbar-thumb {
      background-color:none; 
} 
 
::-webkit-scrollbar-button {
      background-color:none;
} 
 
::-webkit-scrollbar-corner {
      background-color:none;
}*/

.all-icons [class^="pe-"] {
  font-size: 40px;
}

.all-icons input {
  border: 0;
}

.all-icons .font-icon-detail {
  text-align: center;
  padding: 45px 0px 30px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  margin: 15px 0;
}

.all-icons .font-icon-container a {
  padding: 5px 0;
  display: block;
  color: #666666;
}

.all-icons .font-icon-detail input {
  margin: 25px auto 0;
  width: 100%;
  text-align: center;
  display: block;
  color: #aaa;
  font-size: 13px;
}

.all-icons h5 {
  margin-top: 60px;
}

.all-icons>div>.row:first-child h5 {
  margin-top: 15px;
}

.places-buttons .btn {
  margin-bottom: 30px
}

.buttons-with-margin .btn {
  margin-bottom: 5px;
}

.animated .img-rounded {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

.animated .img-rounded img {
  width: 100%;
}

.fixed-plugin li>a,
.fixed-plugin .badge {
  transition: all .34s;
  -webkit-transition: all .34s;
  -moz-transition: all .34s;
}

.fixed-plugin {
  position: fixed;
  top: 180px;
  right: 0;
  width: 64px;
  background: rgba(0, 0, 0, .3);
  z-index: 1031;
  border-radius: 8px 0 0 8px;
  text-align: center;
}

.fixed-plugin .fa-cog {
  color: #FFFFFF;
  padding: 10px;
  border-radius: 0 0 6px 6px;
  width: auto;
}

.fixed-plugin .dropdown-menu {
  right: 80px;
  left: auto;
  width: 290px;
  border-radius: 10px;
  padding: 0 10px;
}

.fixed-plugin .dropdown-menu:after,
.fixed-plugin .dropdown-menu:before {
  right: 10px;
  margin-left: auto;
  left: auto;
}

.fixed-plugin .fa-circle-thin {
  color: #FFFFFF;
}

.fixed-plugin .active .fa-circle-thin {
  color: #00bbff;
}

.fixed-plugin .dropdown-menu>.active>a,
.fixed-plugin .dropdown-menu>.active>a:hover,
.fixed-plugin .dropdown-menu>.active>a:focus {
  color: #777777;
  text-align: center;
}

.fixed-plugin img {
  border-radius: 0;
  width: auto;
  height: 100px;
  transform: translateX(-30%);
  -webkit-transform: translateX(-30%);
  margin: 0 auto;
}

.fixed-plugin .badge {
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 23px;
  margin-right: 5px;
  position: relative;
  width: 23px;
}

.fixed-plugin .badge.active,
.fixed-plugin .badge:hover {
  border-color: #00bbff;
}

.fixed-plugin .badge-white {
  background-color: #FFFFFF;
}

.fixed-plugin .badge-black {
  background-color: #1DC7EA;
}

.fixed-plugin .badge-azure {
  background-color: #1DC7EA;
}

.fixed-plugin .badge-green {
  background-color: #87CB16;
}

.fixed-plugin .badge-orange {
  background-color: #FFA534;
}

.fixed-plugin .badge-purple {
  background-color: #9368E9;
}

.fixed-plugin .badge-red {
  background-color: #FB404B;
}

.fixed-plugin h5 {
  font-size: 14px;
  margin: 10px;
}

.fixed-plugin .dropdown-menu li {
  display: block;
  padding: 5px 2px;
  width: 25%;
  float: left;
}

.fixed-plugin li.adjustments-line,
.fixed-plugin li.header-title,
.fixed-plugin li.button-container {
  width: 100%;
  height: 50px;
  min-height: inherit;
}

.fixed-plugin li.button-container {
  height: auto;
}

.fixed-plugin li.button-container div {
  margin-bottom: 5px;
}

.fixed-plugin #sharrreTitle {
  text-align: center;
  padding: 10px 0;
  height: 50px;
}

.fixed-plugin li.header-title {
  height: 30px;
  line-height: 40px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}


/*
.fixed-plugin li.header-product-name{
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    text-transform: none;
    text-align: center;
    font-weight: 300;
}
*/

.fixed-plugin .adjustments-line p {
  float: left;
  display: inline-block;
  margin-bottom: 0;
  font-size: 1em;
}

.fixed-plugin .adjustments-line .switch {
  float: right;
}

.fixed-plugin .dropdown-menu>li.adjustments-line>a {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.fixed-plugin .dropdown-menu>li>a.img-holder {
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  background-color: #FFF;
  border: 3px solid #FFF;
  padding-left: 0;
  padding-right: 0;
  opacity: 1;
  cursor: pointer;
  max-height: 86px;
  overflow: hidden;
  padding: 0;
}

.fixed-plugin .dropdown-menu>li>a.switch-trigger:hover,
.fixed-plugin .dropdown-menu>li>a.switch-trigger:focus {
  background-color: transparent;
}

.fixed-plugin .dropdown-menu>li:hover>a.img-holder,
.fixed-plugin .dropdown-menu>li:focus>a.img-holder {
  border-color: rgba(0, 187, 255, 0.53);
  ;
}

.fixed-plugin .dropdown-menu>.active>a.img-holder,
.fixed-plugin .dropdown-menu>.active>a.img-holder {
  border-color: #00bbff;
  background-color: #FFFFFF;
}

.fixed-plugin .dropdown-menu>li>a img {
  margin-top: auto;
}

.fixed-plugin .btn-social {
  width: 50%;
  display: block;
  width: 48%;
  float: left;
  font-weight: 600;
}

.fixed-plugin .btn-social i {
  margin-right: 5px;
}

.fixed-plugin .btn-social:first-child {
  margin-right: 2%;
}

@media (min-width: 992px) {
  .fixed-plugin .dropdown .dropdown-menu {
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -o-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
    top: 27px;
    opacity: 0;
    transform-origin: 0 0;
  }
  .fixed-plugin .dropdown.open .dropdown-menu {
    opacity: 1;
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -o-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
    transform-origin: 0 0;
  }
  .fixed-plugin .dropdown-menu:before,
  .fixed-plugin .dropdown-menu:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 60px;
    width: 16px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  }
  .fixed-plugin .dropdown-menu:before {
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-left: 16px solid rgba(0, 0, 0, 0.2);
    border-top: 16px solid rgba(0, 0, 0, 0);
    right: -27px;
  }
  .fixed-plugin .dropdown-menu:after {
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-left: 16px solid #FFFFFF;
    border-top: 16px solid rgba(0, 0, 0, 0);
    right: -26px;
  }
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }
  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }
  .fixed-plugin {
    top: 120px;
  }
}

@media (max-width: 991px) {
  .fixed-plugin .dropdown-menu {
    right: 60px;
    width: 220px;
  }
  .fixed-plugin .dropdown-menu li {
    width: 50%;
  }
  .fixed-plugin li.adjustments-line,
  .fixed-plugin li.header-title,
  .fixed-plugin li.button-container {
    width: 100%;
    height: 55px;
    min-height: inherit;
  }
  .fixed-plugin li.button-container {
    height: auto;
  }
  .fixed-plugin .adjustments-line .switch {
    float: right;
    margin: 0 0px;
  }
  .fixed-plugin li.header-title {
    height: 40px;
  }
  .fixed-plugin .dropdown .dropdown-menu {
    top: -170px;
  }
  .fixed-plugin .dropdown-menu:before,
  .fixed-plugin .dropdown-menu:after {
    display: none;
  }
}

.btn-social {
  opacity: 0.85;
  padding: 8px 9px;
}

.btn-social .fa {
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
}

.btn-social.btn-round {
  padding: 9px 10px;
}

.btn-social.btn-simple {
  padding: 9px 5px;
  font-size: 16px;
}

.btn-social.btn-simple .fa {
  font-size: 20px;
  position: relative;
  top: -2px;
  width: 24px;
}

.btn-facebook {
  border-color: #3b5998;
  color: #3b5998;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open>.btn-facebook.dropdown-toggle {
  background-color: transparent;
  color: #3b5998;
  border-color: #3b5998;
  opacity: 1;
}

.btn-facebook:disabled,
.btn-facebook[disabled],
.btn-facebook.disabled {
  background-color: transparent;
  border-color: #3b5998;
}

.btn-facebook.btn-fill {
  color: #ffffff;
  background-color: #3b5998;
  opacity: 0.9;
}

.btn-facebook.btn-fill:hover,
.btn-facebook.btn-fill:focus,
.btn-facebook.btn-fill:active,
.btn-facebook.btn-fill.active,
.open>.btn-facebook.btn-fill.dropdown-toggle {
  background-color: #3b5998;
  color: #ffffff;
  opacity: 1;
}

.btn-twitter {
  border-color: #55acee;
  color: #55acee;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open>.btn-twitter.dropdown-toggle {
  background-color: transparent;
  color: #55acee;
  border-color: #55acee;
  opacity: 1;
}

.btn-twitter:disabled,
.btn-twitter[disabled],
.btn-twitter.disabled {
  background-color: transparent;
  border-color: #55acee;
}

.btn-twitter.btn-fill {
  color: #ffffff;
  background-color: #55acee;
  opacity: 0.9;
}

.btn-twitter.btn-fill:hover,
.btn-twitter.btn-fill:focus,
.btn-twitter.btn-fill:active,
.btn-twitter.btn-fill.active,
.open>.btn-twitter.btn-fill.dropdown-toggle {
  background-color: #55acee;
  color: #ffffff;
  opacity: 1;
}


/* New Login Page */

i {
  cursor: pointer;
}

.login-page .card {
  margin-top: 80px;
}

.content {
  z-index: 999;
  position: relative;
}

.form-group.label-floating i {
  position: absolute;
  top: 14px;
  left: 5px;
  color: #a7a7a7;
}

.form-group.label-floating label.control-label {
  left: 30px
}

.login-page .form-group input {
  padding-left: 30px;
}

.btn-warning.btn-fill {
  color: #fff !important;
  letter-spacing: 2px;
  padding: 12px 0;
}

.btn-warning.btn-fill:hover {
  box-shadow: 0 20px 10px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.form-group {
  padding-bottom: 0;
}

.loginButt {
  margin-top: 30px;
}

.login-page .lgHeader {
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding: 10px 0;
  margin-top: -54px;
  border-radius: 10px 10px 0 0;
}

.card .header {
  margin-bottom: 40px;
  display: block;
}


/* Dash Board Page */

.sidebar[data-color="orange"]::after,
.bootstrap-navbar[data-color="orange"]::after {
  background: #000;
}

.sidebar .user,
.bootstrap-navbar .user {
  border: none;
}

.sidebar .nav li a {
  background: #141414;
  font-size: 14px;
}

.sidebar .nav li a {
  background: ff8f00;
  text-transform: uppercase;
}

.sidebar .nav li.active a,
.sidebar .nav li a:hover {
  background: #ff8f00;
}

.sidebar .nav i {
  font-size: 20px;
  color: #ffd54f;
}

.sidebar .nav li .dtText {
  font-size: 12px;
  color: #9e9e9e;
  padding-left: 14%;
}

.sidebar .nav li ul {
  display: block;
  padding: 0;
  margin: 0;
}

.sidebar .nav li ul li {
  list-style: none;
}

.sidebar .nav li ul li a {
  font-size: 14px;
  margin-left: 0;
  text-transform: uppercase;
  color: #fab800;
  list-style: none;
  padding: 10px 10px;
  display: block;
  background: none;
}

.sidebar .nav li ul li a span.inplay {
  color: #0da901;
  font-size: 11px;
  float: right;
}

.sidebar .nav li ul li a span.playTime {
  color: #555555;
  font-size: 11px;
  float: right
}

.closeBtnBg {
  background: #ffcc01!important;
  color: #000!important;
  padding: 5px 10px!important;
  border-radius: 4px!important;
  font-size: 20px!important;
}

.navbar-brand {
  color: #fff!important;
  font-size: 28px!important;
}

.navbar-default .navbar-nav>li>a:not(.btn) {
  color: #000;
}

.navbar-nav>li.lightBg {
  background: #ffcc01;
  border-radius: 4px;
  padding: 2px 5px;
  margin-top: 15px;
}

.navbar-nav>li.settingIcon {
  padding-top: 7px;
}

.navbar .navbar-nav p {
  padding-left: 0;
}

.navbar-nav>li {
  margin: 10px 15px 0;
}

.navbar .navbar-nav>li>a {
  margin: 0;
  padding: 5px;
}

.navbar-nav li ul.language {
  background: #ffcc01;
  border-radius: 4px;
  padding: 5px;
}

.navbar-nav li ul.language a {
  font-size: 12px;
  color: #000;
}

.navbar-nav li ul.language li {
  list-style: none;
  padding: 0;
}

.navbar-nav li ul.language li a {
  color: #555;
  display: block;
  font-size: 10px;
  padding: 2px 12px;
  margin-bottom: 1px;
  text-transform: uppercase;
}

.dropdown-with-icons .dropdown-menu i {
  font-size: 18px;
  color: #8b8b8b;
  line-height: 25px;
  font-size: 18px;
}

.dropdown-with-icons>li>a {
  line-height: 22px;
}

#select111 {
  border: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
  -webkit-background-size: 0 2px, 100% 1px;
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center -webkit-calc(100% - 1px);
  background-position: center bottom, center calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background 0s ease-out;
  -o-transition: background 0s ease-out;
  transition: background 0s ease-out;
  float: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

select.form-control {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control {
  margin-bottom: 7px;
}

.form-control {
  height: 38px;
  padding: 7px 0;
  font-size: 16px;
  line-height: 1.42857143;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.main-panel .newsBar {
  display: block;
  border-bottom: solid 1px #e9e9e9;
  padding: 10px 0 10px 0;
  background: #fff;
}

.main-panel .newsBar i {
  font-size: 20px;
  padding: 0 0 0 35px;
}

.main-panel .newsBar p {
  font-size: 12px;
  color: #727272;
  display: inline-block;
  margin: 0;
  padding: 0 0 0 35px;
}

.main-panel .content {
  padding: 0;
}

.contRtBar {
  background: #fff;
  padding: 10px;
  min-height: 100%;
  display: block;
}

.contLtBar {
  padding: 10px;
}

.langBg {
  display: block;
  margin-top: -5px
}


/* My Account Box Start */

.contRtBar .contBox {
  display: block;
  border-radius: 6px;
  border: solid 1px #cacaca;
  padding: 10px;
}

.modal-content {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, .5);
  padding: 10px;
  margin-bottom: 20px;
  float: left;
}

.modal-header {
  padding: 0;
}

.modal-header h4 {
  text-transform: uppercase;
  font-size: 22px;
  color: #000;
  padding-bottom: 5px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
}

.modal-header button i {
  color: #ff8f00;
  opacity: 10;
}

.close {
  opacity: inherit;
}

.modal-content .rightSubTitle {
  display: block;
  font-size: 14px;
  color: #7d7d7d;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  padding: 10px 0;
}

font-family .modal-content .rightSubTitle i {
  color: #ff8f00;
  padding-right: 22px;
  font-size: 18px;
}

.modal-content .btn-info.btn-fill {
  background: #fab800;
  border: none;
}

.genreportButt {
  width: 100%;
  font-size: 15px;
  background: #323232 !important;
  border: none;
  font-weight: 500;
  font-style: normal;
}

.modal-body {
  padding: 5px 5px 0;
  float: left;
}

.modal-content .selectTime .datePick {
  width: 47%;
  display: inline-block;
  padding-right: 25px;
  font-size: 11px;
}

.modal-content .selectTime i {
  color: #ff8f00;
  font-size: 20px;
  padding: 0 0 0 2px;
  margin: 0 10px 0 -24px;
}


/* My Account Box End */


/* My Bett Box Start */

.modal-content .refreshicon {
  color: #959595;
  padding-right: 20px;
  font-size: 18px;
  padding-right: 30px;
  display: inline-block;
}

.modal-content .betBoxCont {
  border: solid 1px #e1e1e1;
  padding: 10px 10px 5px;
  margin-bottom: 5px;
}

.modal-content .betBoxCont h3 {
  font-size: 18px;
  color: #323232;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.modal-content .betBoxCont h3 span {
  color: #ff8f00;
  display: block;
  float: right;
}

.modal-content .betBoxCont .contentTxt ul {
  display: block;
  margin: 0;
  padding: 0;
  border-top: solid 1px #a5a5a5;
  padding: 5px 0;
}

.modal-content .betBoxCont .contentTxt li {
  list-style: none;
  color: #323232;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.modal-content .betBoxCont .contentTxt li.subTitlTxt {
  font-size: 13px;
  color: #3595e0;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
}

.modal-content .betTab {
  border: none;
}

.modal-content .betTab li {
  float: left;
  margin-bottom: -1px;
  width: 50%;
}

.modal-content .betTab li a {
  margin-right: 0;
  background: #000;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: inherit;
}

.modal-content .betTab>li.active>a,
.modal-content .betTab>li.active>a:focus,
.modal-content .betTab>li.active>a:hover {
  color: #fff;
  cursor: default;
  background: #ff8f00;
  border: none;
}


/* My Bett Box End */


/* Preference Start */

.modal-content h5 {
  font-size: 18px;
  color: #ff8f00;
  padding: 0;
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
}

.defaultStkBox {
  display: block;
  float: left;
  width: 100%;
  margin: 15px 0;
  border-top: solid 1x #ececec;
}

.defaultStkBox .titleTxt {
  width: 136px;
  float: left;
  font-size: 18px;
  color: #ff8f00;
  padding: 0;
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
}

.defaultStkBox input {
  display: block;
  background: #f4f4f4;
  width: 80px;
  text-align: center;
  font-size: 12px;
  color: #353535;
  margin: 0 5px 5px 20px;
  float: left;
  border: none;
  padding: 5px 0;
}

.defaultStkBox i {
  font-size: 25px;
  color: #cacaca;
  padding: 0 15px;
  cursor: pointer;
  float: left;
}

.quickStkBox {
  display: block;
  float: left;
  border-top: solid 1x #ececec;
  margin-bottom: 20px;
}

.quickStkBox .inputBox {
  width: 73%;
  float: left;
}

.quickStkBox .inputBox input {
  display: block;
  background: transparent;
  width: 63px;
  text-align: center;
  font-size: 11px;
  color: #353535;
  border: solid 1px #353535;
  margin: 0 5px 5px 0;
  float: left;
}

.quickStkBox .iconBox {
  width: 27%;
  float: left;
}

.quickStkBox .iconBox i {
  font-size: 25px;
  color: #cacaca;
  padding: 0 15px;
  cursor: pointer;
}

.quickStkBox .iconBox i.set {
  color: #ffcc01;
}

.switchPanel {
  width: 100%;
  float: left;
  margin: 5px 0 10px;
}

.switchPanel .titleTtx {
  font-size: 18px;
  color: #ff8f00;
  padding: 0;
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  float: left;
}

.switchPanel .switchBox {
  float: right;
  display: block;
}

.has-switch span.switch-left {
  background: #ffcc01;
}

.has-switch span.switch-right {
  background: #ffcc01;
  color: #52493d;
  font-weight: bold;
  font-size: 15px;
}


/* Preference End */


/* Game Box Start */

.gameContBox {
  display: block;
  border: solid 1px #c3c3c3;
  padding: 10px;
  background: #fff;
  position: relative;
}

.gameContBox .gameBar {
  display: block;
}

.gameContBox .gameBar ul {
  margin: 0;
  padding: 0;
}

.gameContBox .gameBar li {
  display: inline-block;
  padding: 0;
  line-height: normal;
}

.gameContBox .gameBar ul.brkLine {
  border-bottom: solid 1px #e0e0e0;
  padding-bottom: 2px;
}

.gameContBox .gameBar li.gameName {
  font-size: 1.8em;
  color: #000;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  width: 38%;
}

.gameContBox .gameBar li.gameScore {
  font-size: 1.3em;
  color: #ff8f00;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  width: 30%;
}

.gameContBox .gameBar li.gameInplay {
  color: #00c633;
  font-size: 1em;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  width: 20%;
}

.gameContBox .gameBar li.gameRunning {
  width: 10%;
}

.gameContBox .closeGame {
  width: 22px;
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 1.5em;
  color: #ff8f00;
}

.gameContBox .tabBox {
  display: block;
}

.gameContBox .gameBettingBox {
  display: block;
  padding-top: 20px;
}

.gameContBox .gameBettingBox .firstRow {
  display: block;
  padding-bottom: 5px;
}

.gameContBox .gameBettingBox .firstRow i {
  color: #ff8f00;
  font-size: 20px;
  padding: 0 15px;
}

.gameContBox .gameBettingBox .firstRow span.betsCount {
  background: #ff8f00;
  width: auto;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 2px 20px 4px;
  margin-left: 20px;
  border-radius: 4px;
}

.gameContBox .gameBettingBox .greyBorder {
  border-top: solid 1px #e0e0e0;
}

.gameContBox .gameBettingBox .blueBorder {
  border-top: solid 2px #a6d8ff;
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}

.gameContBox .gameBettingBox .pinkBorder {
  border-top: solid 2px #fac9d4;
  padding-left: 0;
  padding-right: 0;
}

.gameContBox .gameBettingBox .firstRow .backTitle {
  float: right;
  background: #a6d8ff;
  width: 80px;
  text-align: center;
  padding: 2px 0 4px;
  font-size: 14px;
  color: #000;
  border-radius: 4px;
}

.gameContBox .gameBettingBox .firstRow .layTitle {
  float: left;
  background: #fac9d4;
  width: 80px;
  text-align: center;
  padding: 2px 0 4px;
  font-size: 14px;
  color: #000;
  border-radius: 4px;
}

.gameContBox .gameBettingBox .firstRow .closeButt {
  color: #636363;
  float: right;
}

.gameContBox .gameBettingBox .secondRow {
  display: block;
}

.gameContBox .gameBettingBox .secondRow .chatIcon {
  font-size: 18px;
  color: #b3b3b3;
  padding: 20px 0;
}

.gameContBox .gameBettingBox .secondRow .gameName {
  font-size: 22px;
  color: #6c6c6c;
  padding: 20px 20px;
}

.gameContBox .gameBettingBox .secondRow .betBox {
  display: block;
}

.gameContBox .gameBettingBox .secondRow .betBox ul {
  margin: 0;
  padding: 0;
}

.gameContBox .gameBettingBox .secondRow .betBox li {
  display: inline-block;
  margin: 3px 1px;
}

.gameContBox .gameBettingBox .secondRow .betBox li a {
  font-size: 18px;
  color: #323232;
  padding: 5px 21px;
  text-align: center;
  display: block;
}

.gameContBox .gameBettingBox .secondRow .betBox li a span {
  font-size: 14px;
  display: block;
}

.gameContBox .gameBettingBox .secondRow .betBox li.blueBg {
  background: #a6d8ff;
  border-radius: 4px;
}

.gameContBox .gameBettingBox .secondRow .betBox li.ltBlueBg {
  background: #dff1ff;
  border-radius: 4px;
}

.gameContBox .gameBettingBox .secondRow .betBox li.pinkBg {
  background: #fac9d4;
  border-radius: 4px;
}

.gameContBox .gameBettingBox .secondRow .betBox li.ltPinkBg {
  background: #ffe1e8;
  border-radius: 4px;
}


/* Expand Betting */

.gameContBox .gameBettingBox .expandBetBox {
  background: #ebf6ff;
  padding: 10px;
  display: block;
}

.btnDigit {
  border-radius: inherit;
  background: #fff;
  border: none;
  margin: 0 10px 10px 0;
}

.expandBetBox .greyBox {
  display: block;
}

.editIcon {
  font-size: 25px;
  color: #616161;
  padding: 0 15px;
  cursor: pointer;
}

.expandBetBox .greyBox ul {
  margin: 0;
  padding: 0;
  width: 90%
}

.expandBetBox .greyBox li {
  display: inline-block;
  width: 15%;
  margin: 1px 1px 0 0;
}

.expandBetBox .greyBox li input {
  display: block;
  text-align: center;
  background: #e8e8e8;
  width: 100%;
  padding: 10px 0;
  color: #6e6e6e;
  font-size: 14px;
  border: none;
}

.expandBetBox .cancelButt {
  background: #fff;
  color: #323232;
  border: none;
  border-radius: inherit;
  margin: 8px 8px 0 0;
}

.expandBetBox .placeButt {
  background: #ffcc01;
  color: #323232;
  border: none;
  border-radius: inherit;
  margin-top: 8px;
}


/* Game Box End */


/* Key Board Start */

.keyWrap {
  width: 568px;
  float: left;
}

.keyBrdbg {
  display: block;
  padding: 7px;
}

.keyBrdContainer {
  background: #fff;
  padding: 2px 2% 6px 2%;
}

.keyBrdContainer .titleTxt {
  font-size: 10px;
  color: #545454;
  padding-bottom: 2px;
}

.keySpace {
  padding: 0 8px;
}

.keyBox button {
  border: solid 1px #e4e4e4;
  text-align: center;
  font-size: 18px;
  color: #848484;
  font-weight: 500;
  padding: 9px 0 6px;
  margin: 0px 2px 2px;
  width: 96%;
  display: block;
  clear: both;
  background: -webkit-linear-gradient(#fff, #f5f5f5);
  background: -o-linear-gradient(#fff, #f5f5f5);
  background: -moz-linear-gradient(#fff, #f5f5f5);
  background: linear-gradient(#fff, #f5f5f5);
  box-shadow: inset 0 0 8px #e7e7e7;
}

.centerSpes {
  padding: 0;
}

.centerScore {
  background: #ffc107;
  text-align: center;
  font-size: 35px;
  color: #fff;
  padding: 18px 0;
  border: none;
  width: 100%;
  float: left;
}

.keyLeft {
  width: 30%
}

.keyLeft button {
  width: 100%
}

.keyRight {
  width: 30%
}

.keyRight button {
  width: 100%
}

.serialKey {
  width: 378px;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}

.serialKey li {
  margin: 0 4px;
  float: left;
  width: 90px;
  list-style: none;
}

.serialKey li button.serialButt {
  background: #ededed;
  width: 90px;
  border: none;
  text-align: center;
  font-size: 15px;
  color: #202020;
  line-height: 30px;
}

.serialKey li button.active {
  background: #ffc801;
}

.eventKey {
  width: auto;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  padding: 0 1.5%;
}

.eventKey li.plusIcon {
  display: block;
  font-size: 18px;
  color: #747474;
  width: 12px;
  padding: 4px 0px 0 3px;
}

.eventKey li {
  margin: 0 4px;
  float: left;
  list-style: none;
  width: 14%;
}

.eventKey li.small {
  margin: 0 4px;
  float: left;
  list-style: none;
  width: 6.5%;
}

.eventKey li input.evntlButt {
  background: -webkit-linear-gradient(#eaeaea, #d5d5d5);
  background: -o-linear-gradient(#eaeaea, #d5d5d5);
  background: -moz-linear-gradient(#eaeaea, #d5d5d5);
  background: linear-gradient(#eaeaea, #d5d5d5);
  border-radius: 6px;
  text-align: center;
  font-size: 15px;
  color: #202020;
  line-height: 30px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.eventKey li input.active {
  background: -webkit-linear-gradient(#ffdc4f, #ffc107);
  background: -o-linear-gradient(#ffdc4f, #ffc107);
  background: -moz-linear-gradient(#ffdc4f, #ffc107);
  background: linear-gradient(#ffdc4f, #ffc107);
  color: #202020;
  /*text-shadow: 0px 0px 0px #202020;
    -webkit-text-fill-color: transparent;*/
}

.entryKey {
  width: auto;
  margin: 15px auto 0;
  display: block;
  margin-top: 15px;
  padding: 0 1% 0 1.7%;
}

.entryKey li {
  margin: 0 4px;
  float: left;
  width: 7.8%;
  list-style: none;
}

.entryKey li button.entryButt {
  background: -webkit-linear-gradient(#eaeaea, #d5d5d5);
  background: -o-linear-gradient(#eaeaea, #d5d5d5);
  background: -moz-linear-gradient(#eaeaea, #d5d5d5);
  background: linear-gradient(#eaeaea, #d5d5d5);
  width: 100%;
  border-radius: 6px;
  text-align: center;
  font-size: 15px;
  color: #202020;
  line-height: 30px;
  border: none;
}

.entryKey li button.active {
  background: -webkit-linear-gradient(#ffdc4f, #ffc107);
  background: -o-linear-gradient(#ffdc4f, #ffc107);
  background: -moz-linear-gradient(#ffdc4f, #ffc107);
  background: linear-gradient(#ffdc4f, #ffc107);
}

.keyBrdContainer button.blkButt {
  display: inline-block;
  background: #ffc107;
  border-radius: 6px;
  border: none;
  text-align: center;
  font-size: 26px;
  color: #9c9c9c;
  font-weight: 700;
  padding: 7px;
  margin-top: 32px;
  line-height: normal;
}

.keyBrdContainer button.blkButt span {
  width: 78px;
  display: block;
  border-radius: 4px;
  padding: 4px 0 1px;
  background: linear-gradient(#9f9f9f 0%, #000000 7%, #424242 92%, #767676 100%);
  background: -moz-linear-gradient(top, #9f9f9f 0%, #000000 7%, #424242 92%, #767676 100%);
  background: -webkit-linear-gradient(top, #9f9f9f 0%, #000000 7%, #424242 92%, #767676 100%);
  background: linear-gradient(to bottom, #9f9f9f 0%, #000000 7%, #424242 92%, #767676 100%);
}

.keyBrdContainer button.redButt {
  background: #ffc107;
  border-radius: 6px;
  border: none;
  text-align: center;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  padding: 7px;
  margin-top: 32px;
  line-height: normal;
}

.keyBrdContainer button.redButt span {
  width: 78px;
  display: block;
  border-radius: 4px;
  padding: 4px 0 1px;
  background: linear-gradient(#e70000 0%, #ff0000 7%, #ff4a4a 92%, #ff9191 100%);
  background: -moz-linear-gradient(top, #e70000 0%, #ff0000 7%, #ff4a4a 92%, #ff9191 100%);
  background: -webkit-linear-gradient(top, #e70000 0%, #ff0000 7%, #ff4a4a 92%, #ff9191 100%);
  background: linear-gradient(to bottom, #e70000 0%, #ff0000 7%, #ff4a4a 92%, #ff9191 100%);
}

.keyBrdContainer .rightButt {
  text-align: right;
}

.keyBrdContainer .centerButt {
  text-align: center;
}

.vrepeatContainer #horizontal-container_01,
.vrepeatContainer #horizontal-container_02 {
  height: 95px;
  /*width: 490px;*/
}

.vrepeatContainer .repeated-item-horizontal {
  box-sizing: border-box;
  display: inline-block;
  height: 86px;
  text-align: center;
  width: 62px;
}

.vrepeatContainer .repeated-item-vertical {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}

.vrepeatContainer md-content {
  margin: 16px;
}

.vrepeatContainer md-virtual-repeat-container {
  /*border: solid 1px grey;*/
}

.md-virtual-repeat-container .md-virtual-repeat-scroller {
  /*overflow-x: hidden!important;*/
}

.keyBrdContainer button[disabled="disabled"] {
  background: #ccc!important;
}

button[readonly="readonly"] {
  background: #ccc!important;
}

button[readonly="readonly span"] {
  background: #b2b2b2;
}

.layButt {
  border: none!important;
  display: inline-block;
  float: right;
  margin-top: 32px;
  text-align: right;
  position: relative;
}

.layButt a.pinkBg {
  background: #F994A9;
  border-radius: 4px;
  text-align: center;
  padding: 5px 0;
  width: 50px;
  margin: 0 5px;
  float: left;
  color: #000;
  min-height: 50px;
}

.layButt a.pinkBg span {
  display: block;
}

.layButt a.pinkBg span:nth-child(1) {
  font-weight: 700;
}

.backButt {
  border: none!important;
  display: inline-block;
  float: left;
  margin-top: 32px;
  position: relative;
}

.gameStopForm {
  display: block;
  padding: 5%;
}

.gameStopForm button.suspendButt {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 0;
}

.gameStopForm button.suspendButt:hover {
  color: #ff0000;
}

.gameStopForm button.submitButt:hover {
  color: #000;
}

.gameStopForm button.submitButt {
  background: #ff8f00!important;
  color: #fff;
  border: none;
  opacity: inherit;
  padding: 8px 16px;
  border-radius: 0;
}

.layButt .suspend,
.backButt .suspend {
  position: absolute;
  background: #ccc;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #000;
}

.backButt a.blueBg {
  background: #4DB1FF;
  border-radius: 4px;
  text-align: center;
  padding: 5px 0;
  width: 50px;
  margin: 0 5px;
  float: left;
  color: #000;
  min-height: 50px;
}

.backButt a.blueBg span {
  display: block;
}

.backButt a.blueBg span:nth-child(1) {
  font-weight: 700;
}

.timer {
  text-align: right;
}


/* Key Board End */

@media screen and (max-width:800px) {
  .vrepeatContainer .repeated-item-horizontal {
    width: 76px;
  }
}

@media screen and (max-width:768px) {
  .vrepeatContainer .repeated-item-horizontal {
    width: 73px;
  }
}

@media screen and (max-width:736px) {
  .vrepeatContainer .repeated-item-horizontal {
    width: 69px;
  }
}

@media screen and (max-width:667px) {
  .vrepeatContainer .repeated-item-horizontal {
    width: 69px;
  }
}

@media screen and (max-width:732px) {
  .vrepeatContainer .repeated-item-horizontal {
    width: 69px;
  }
}

@media screen and (max-width:640px) {
  .vrepeatContainer .repeated-item-horizontal {
    width: 60px;
  }
  .eventKey li {
    width: 14.5%;
  }
}

@media screen and (max-width:568px) {
  .vrepeatContainer .repeated-item-horizontal {
    width: 53px;
  }
  .eventKey li {
    width: 14%;
  }
  .entryKey li {
    width: 7.4%;
  }
  .eventKey {
    margin-top: 5px;
  }
  .keyBrdContainer button.blkButt {
    margin-top: 10px;
  }
  .keyBrdContainer button.redButt {
    margin-top: 11px;
  }
}

@media screen and (max-width:568px) {
  .eventKey li {
    width: 13.5%;
  }
}

@media screen and (max-height:320px) {
  .eventKey {
    margin-top: 8px;
  }
  .entryKey {
    margin-top: 8px;
  }
}
